{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt-get install -y software-properties-common

sudo add-apt-repository -y ppa:neovim-ppa/stable

sudo apt-get update
sudo apt-get install -y \
  awscli \
  curl \
  git \
  neovim \
  tmux \
  zsh \
  build-essential \
  libssl-dev \
  zlib1g-dev \
  libreadline-dev  \
  libsqlite3-dev \
  libbz2-dev \
  libncursesw5-dev \
  xz-utils  \
  tk-dev  \
  libxml2-dev \
  libxmlsec1-dev \
  libffi-dev \
  liblzma-dev


[ ! -d ~/.pyenv ] && git clone https://github.com/pyenv/pyenv.git ~/.pyenv/
eval "$(pyenv init -)"
pyenv install --skip-existing 3.11.1
pyenv global 3.11.1

if [ ! -d ~/.nvm ]; then
  git clone https://github.com/nvm-sh/nvm.git ~/.nvm
  cd ~/.nvm
  git checkout $(git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1))
  cd -
fi

if [ -d ~/.nvim ] && ! command -v npm &> /dev/null; then
  if ! command -v nvm &> /dev/null; then
    \. ~/.nvm/nvm.sh
  fi
  nvm install --lts
  nvm use --lts
fi

curl --output-dir "/tmp" -L0 -O https://go.dev/dl/go1.20.linux-amd64.tar.gz
sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf /tmp/go1.20.linux-amd64.tar.gz
export PATH=$PATH:/usr/local/go/bin

go install github.com/jesseduffield/lazygit@latest

exit 0
{{ end -}}
