{{ if ne .chezmoi.os "darwin" -}}

{{- else if ne .chezmoi.os "linux" -}}

{{ end }}
.config/nvim/lua/bhops/plugins/crates.lua
.config/nvim/lua/bhops/plugins/obsidian.lua
.config/nvim/lua/bhops/plugins/octo.lua
