ZSH_DISABLE_COMPFIX="true"

{{- $paths := list }}
{{- range $_, $absPath:= list "/opt/nvim-linux/bin" }}
{{-   if stat $absPath }}
{{-     $paths = mustAppend $paths $absPath }}
{{-   end }}
{{- end }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" ".nvim/nvim-macos/bin" }}
{{-    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

export EDITOR=nvim

alias cz="chezmoi"
alias g="git"
alias gs="git s"
alias k="kubectl"
alias vim="nvim"

if [[ -f ~/.fzf.zsh ]]; then
  source ~/.fzf.zsh
fi

if [[ -f "$HOME/.cargo/env" ]]; then
  source "$HOME/.cargo/env"
fi

if [[ -f "$HOME/.config/op/plugins.sh" ]]; then
  source "$HOME/.config/op/plugins.sh"
fi

if [[ -f "$HOME/.asdf/asdf.sh" ]]; then
  . $HOME/.asdf/asdf.sh
fi

if type direnv &> /dev/null; then
  eval "$(direnv hook zsh)"
fi
