ZSH_DISABLE_COMPFIX="true"

{{- $paths := list }}
{{- range $_, $absPath:= list "/opt/nvim-linux/bin" }}
{{-   if stat $absPath }}
{{-     $paths = mustAppend $paths $absPath }}
{{-   end }}
{{- end }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" ".nvim/nvim-macos-arm64/bin" }}
{{-    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

export EDITOR=nvim

alias cz="chezmoi"
alias g="git"
alias gs="git s"
alias k="kubectl"
alias vim="nvim"


local devcon() {
  trap return ERR
  local usage=(
    "devcon [-h|--help]"
    "devcon [-r|--rebuild] repo_root"
  )
    zmodload zsh/zutil
    zparseopts -D -F -- \
      {h,-help}=flag_help \
      {r,-rebuild}=flag_rebuild ||
      return 1

  [[ -z "$flag_help" ]] || { print -l $usage && return }
  [[ -n "$1" ]] || { print -l $usage && return }

  up_flags=""
  if [[ -n "$flag_rebuild" ]]; then
    up_flags+="--remove-existing-container"
  fi

  additional_features='
  {
    "ghcr.io/devcontainers/features/nix:1": {}
  }'

  devcontainer up \
    $up_flags \
    --workspace-folder "$1" \
    --additional-features "${additional_features}" \
    --dotfiles-repository bhops/devcon-dotfiles

  devcontainer exec --workspace-folder "$1" bash -c "TERM=$TERM LANG=$LANG bash"
}

if [[ -f ~/.fzf.zsh ]]; then
  source ~/.fzf.zsh
fi

if [[ -f "$HOME/.cargo/env" ]]; then
  source "$HOME/.cargo/env"
fi

if [[ -f "$HOME/.config/op/plugins.sh" ]]; then
  source "$HOME/.config/op/plugins.sh"
fi

if [[ -f "$HOME/.asdf/asdf.sh" ]]; then
  . $HOME/.asdf/asdf.sh
fi

if type direnv &> /dev/null; then
  eval "$(direnv hook zsh)"
fi
