{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "jq"
     "nodejs"
     "ripgrep"
     "shellcheck"
     "tmux"
     "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail
curl -fsSL https://deb.nodesource.com/setup_lts.x | {{ if $sudo -}}{{ $sudo }}-E{{- end }} bash -
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}
